.form {
  display: flex;
  width: 550px;
  margin: 100px auto 0;
}
.textarea {
  width: 500px;
  height: 350px;
  display: block;
  resize: none;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  border: 0;
  transition: box-shadow 0.5s;
}
.textarea:focus {
  outline: none;
  box-shadow: 0 0 15px #36383f inset;
}
